/* Footer styles */
.footer {
    position: absolute;
    bottom:0;
    background-color: #1d1f21; 
    color: white; 
    padding: 50px 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap;
    gap: 20px;
}

.footer-section {
    flex: 1; 
}

.footer-description {
    background-color: #27292c;
    padding: 15px;
    border-radius: 4px;
    font-size: 14px;
    margin: 0; 
}

/* Footer Logo */
.footer-logo {
    margin-bottom: 10px;
}

.footer-logo img {
    max-width: 60%;
}

/* Links in footer */
.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-social-icons,
.footer-unluckytech-icons {
    display: flex; 
    gap: 10px;
}

/* Ensure all icons are white */
.footer-social-icons i,
.footer-unluckytech-icons i {
    color: white;
}

.footer-social-icons i:hover, .footer-unluckytech-icons i:hover, .footer-links a:hover {
    color: #f0a500;
    transition: color 0.3s;
}

.footer-unluckytech-icons {
    display: none;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #27292c;
    margin-top: 20px;
}

/* Common Title Style for Footer */
.footer-common-title {
    font-size: 18px;
    color: #fff;
}

@media (max-width: 1024px) {
    .footer-content {
        padding: 0 20px;
    }

    .footer-logo img {
        max-width: 80%;
    }

}

@media (max-width: 768px) {
    .footer-connect, .footer-social-icons, .footer-bottom {
        display: none;
    }

    .footer-common-title {
        font-weight: 700;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-section {
        width: 100%;
    }

    .footer-unluckytech-icons {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 20px;
    }

    .footer-unluckytech-icons i {
        font-size: 24px;
    }

    .footer-logo {
        text-align: center; 
        margin-bottom: 20px;
    }

}