.news-section {
    display: flex;
    flex-direction: column;
    width: 900px;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    padding: 20px;
}

.news-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.news-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.news-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.news-item {
    background: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
}

.news-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px;
}

.news-article-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;
}

.news-article-description {
    font-size: 14px;
    text-align: center;
}
