/* POSTS.PHP SECTION */

/* Posts Wrapper */
.posts-wrapper {
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Posts Title */
.posts-title {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    padding-left: 20px;
}

/* Posts Divider */
.posts-top-divider,
.posts-bottom-divider {
    border: 0;
    height: 1px;
    background: #444;
    margin: 10px 0 20px;
}

/* Posts Container */
.posts-container {
    display: flex;
    gap: 20px;
}

/* Post Card */
.post-card {
    border-radius: 8px;
    padding: 20px;
    width: 242px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease;
    height: 442px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
    background: #151618;
    border: 1px solid #444;
}

.post-card:hover {
    transform: scale(1.02);
}

/* Post Content */
.post-content {
    padding: 15px;
}

/* Post Date */
.post-date {
    font-size: 14px;
    color: #ddd;
}

/* Post Image Container */
.post-image {
    position: relative;
    padding-top: 56.25%; /* Aspect ratio 16:9 */
}

/* Post Image */
.post-image img {
    position: absolute; /* Position the image absolutely inside the container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the container, maintaining aspect ratio */
}

/* Post Title */
.post-card-title h2 {
    font-size: 20px;
    margin: 0 0 10px 0;
    color: #ffffff;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-card-title {
    text-align: center;
}

/* Post Description */
.post-description {
    font-size: 16px;
    color: #ccc;
    line-height: 1.4;
    overflow: hidden;
    margin-bottom: 10px;
}

/* More Button Container */
.more-button-container {
    display: flex;
    justify-content: flex-end;
}

/* More Button */
.more-button {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.more-button:hover {
    background: #3a3b40;
    color: #f0a500;
    transition: color 0.3s;
}

/* MEDIA QUERIES */

.title-post-divider {
    background: #444;
    margin: 10px auto;
    height: 2px;
}

@media (max-width: 1024px) {

    .posts-container {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    /* Posts Divider */
    .posts-top-divider,
    .posts-bottom-divider {
        height: 2px;
    }

    /* Post Link */
    .post-link {
        width: 90%;
    }

    /* Post Card */
    .post-card {
        flex-direction: row;
        border-radius: 0;
        padding: 10px;
        width: 100%;
        height: auto; /* Remove fixed height */
        margin-bottom: 10px;

    }

    /* Post Image */
    .post-image {
        width: 35%; /* Set to 35% for better alignment */
        padding-top: 0; /* Remove aspect ratio padding */
        height: auto; /* Let height adjust automatically */
        margin-right: 10px;
        overflow: hidden;
        position: relative;
        border-radius: 0;
    }

    .post-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0;
    }

    /* Post Content */
    .post-content {
        text-align: center; /* Center text inside the content */
        width: 65%; /* Adjust width */
        height: 120px; /* Allow height to adjust */
    }

    /* Post Date */
    .post-date {
        font-size: 12px;
        color: #ddd;
        margin-top: 10px; /* Add space between title and date */
        margin-bottom: 5px;
    }

    /* More Button Container */
    .more-button-container {
        margin-top: 20px;
    }
}

@media (max-width: 767.98px) {
    
    /* Post Card */
    .post-card {
        width: 95%;
    }

    .post-card-title h2 {
        font-size: 16px;
        margin: 0;
    }

    /* Post Content */
    .post-content {
        justify-content: center; /* Vertically center the content */
        align-items: center; /* Horizontally center the content */
        padding: 15px;
        display: flex;
        height: 70px;
    }

    /* Post Description */
    .post-description {
        display: none;
    }

}