/* SERVICES.PHP SECTION */

/* Services Section */
.services-section {
    width: 1250px;
    height: 400px;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    padding: 20px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Services Title */
.services-title {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}

/* Services List */
.services-list {
    font-size: 20px;
    color: #fff;
    columns: 2;
    column-gap: 40px;
    align-items: center;
    justify-content: center;
}

.services-list ul {
    margin-top: 0;
}

.services-list li {
    margin-bottom: 10px;
}

/* Services Slideshow */
.services-slideshow {
    flex: 1;
    max-width: 400px;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.mySlides {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Transition effect */
}

.mySlides.active {
    display: block;
    opacity: 1;
}

.mySlides img {
    width: 100%;
    border-radius: 10px;
}

.dot-container {
    text-align: center;
    margin-top: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease;
}
