/* About Page Styles */
.about-container {
    background: #ffffff;
    margin: 0 auto;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 40px;
    border-radius: 8px;
    align-items: center;

}

.about-content {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.about-text {
    flex: 2;
    min-width: 300px;
}

.about-text h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.about-text h3 {
    font-size: 1.5em;
    margin-top: 20px;
}

.about-text p {
    font-size: 1.2em;
    line-height: 1.5;
}

.about-video {
    flex: 1;
    min-width: 300px;
    text-align: center;
}

.about-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.about-buttons .button {
    background-color: #0073aa;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

.about-buttons .button:hover {
    background-color: #005177;
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }
}
