
.about-section {
    display: flex;
    gap: 20px;
}

.about-text {
    background: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-text h3 {
    font-size: 1.5em;
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.about-text p {
    font-size: 1.2em;
    line-height: 1.5;
}

.info-cards {
    display: flex;
    gap: 20px;
}

.info-card {
    flex: 1;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s;
}

.info-card ul {
    margin-left: 20px;
}

.info-card ul li {
    font-size: 1.2em;
    line-height: 1.5;
    text-align: left;
}

.info-card h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase; 
}

.info-card p {
    font-size: 1.2em;
    line-height: 1.5;
}

.info-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.info-card:focus {
    outline: none; 
}

.profile-card {
    min-width: 333.33px;
    padding: 20px;
    text-align: center;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-image {
    width: 150px;
}

.profile-card h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    margin-top: 10px;
}

.profile-card p {
    font-size: 1.2em;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
    font-size: 24px;
}

.social-icon:hover {
    color: #f0a500;
    transition: color 0.3s;
}

@media (max-width: 1024px) {

    .profile-card {
        order: -1;
        min-width: 90%;
    }

    .profile-card p {
        color: #3a3b40;
    }

    .about-text p {
        font-size: 1.2em;
        line-height: 1.5;
    }

    .about-section {
        flex-direction: column;
    }

    .about-question {
        background-color: #3a3b40; 
        color: #ffffff;
        padding: 10px 20px;
        width: 93%;
        text-align: left;
        border-radius: 5px;
        font-size: 1.2em;
        cursor: pointer;
        outline: none;
        transition: background-color 0.3s;
        border: none;
        display: block;
    }
    
    .about-question:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .about-answer {
        display: none;
        padding: 10px 20px;
        font-size: 1.2em;
        background-color: #e0e0e0;
        border-radius: 5px;
    }

    .info-cards {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 10px;
        padding: 10px 0;
        height: 300px;
    }

    .info-card {
        overflow: hidden;
    }

    .info-card h3 {
        font-size: 1.4em;
    }

    .info-card p {
        font-size: 1em;
    }

    .info-card ul li {
        font-size: 1em;
    }

    .info-cards::-webkit-scrollbar {
        display: none;
    }

}

@media (max-width: 768px) {
    .info-card {
        flex: none;
    }
}