/* Certifications Page Styles */

.certifications-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.certification-card-link {
    text-decoration: none;
}


.certification-card {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    max-height: 450px;
    display: flex;
    flex-direction: column;
}

.certification-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.certification-image {
    width: 100px;
    height: 100px;
    object-fit: contain; 
}

.certification-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

.certification-card p {
    font-size: 1.1em;
    line-height: 1.5;
}

.certification-card .button {
    margin-top: auto;
}

.certification-card .button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #f0a500; 
    transition: color 0.3s;
}

@media (max-width: 1024px) {
    .certifications-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {

    .certifications-intro p {
        font-size: 1em;
    }

    .certifications-intro {
        padding: 5px;
    }

    .certifications-cards {
        grid-template-columns: 1fr;
    }

    .certification-card h3 {
        margin-top: 1px;
    }

}
