.two-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.half-width {
    width: 48%; 
}

.contact-form-container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form-container h2 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.contact-form-container p {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 30px;
}

.contact-group {
    margin-bottom: 20px;
}

.contact-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.1em;
}

.contact-group input,
.contact-group textarea,
.contact-group select {
    width: 98%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.1em;
}

.submit-button {
    background-color: #3a3b40;
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    width: 100%;
    text-transform: uppercase;
}

.submit-button:hover {
    background-color: #555;
    color: #f0a500;
    transition: color 0.3s;
}

.captcha-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.tabs {
    margin-bottom: 20px;
}

.tab-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ccc;
}

.tab-links li a {
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    color: #333;
}

.tab-links li.active a {
    border-bottom: 2px solid #3a3b40;
    font-weight: bold;
    color: #3a3b40;
}

.tab-content {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.table-responsive {
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch; 
    width: 100%; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

@media (max-width: 768px) {
    .contact-form-container {
        padding: 10px; 
        width: 100%;
    }

    .contact-group input,
    .contact-group textarea,
    .contact-group select {
        width: 90%;
        padding: 10px;
        font-size: 1em; 
    }

    .submit-button {
        font-size: 1em; 
    }

    .tab-links {
        border-bottom: none; 
    }

    .tab-links li {
        margin-bottom: 10px; 
    }

    .tab-content {
        padding: 10px; 
    }

    .two-column {
        flex-direction: column; 
        width: 100%; 
    }

    .half-width {
        width: 100%; 
    }

    .contact-group {
        margin-bottom: 15px;
    }

    .table-responsive {
        margin-bottom: 15px; 
    }

}
