/* Experience Page Styles */

/* Experience Intro Styles */
.experience-intro {
    background: #f9f9f9; /* Match card background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Same shadow as cards */
    text-align: center;
    min-height: 100px; /* Optional: Ensure it has a minimum height */
}

.experience-intro p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #333; /* Adjust text color if needed */
    font-family: Arial, sans-serif; /* Match the font family */
}

/* Experience Entries Styles */
.experience-entries {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Experience Entry Hover Effect */
.experience-entry {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Add smooth transitions */
}

.experience-entry:hover {
    transform: translateY(-5px); /* Slight upward movement */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* More pronounced shadow */
}

.experience-entry h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif; /* Match the font family */
}

.experience-entry h3 a:hover {
    color: #3a3b40;
}

.experience-entry p {
    font-size: 1.1em;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* Responsive design */
@media (max-width: 768px) {

    .experience-intro p {
        font-size: 1em;
        line-height: 1.5;
    }

    .experience-entry {
        padding: 15px;
    }
}
