.mobile-item {
    display: none;
}

.categories-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.categories-section, .alternative-section {
    width: 48%;
}

.categories-section h2, .alternative-section h2 {
    margin: 0 0 20px;
    font-weight: 700;
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase; 
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}

.category-item {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 10px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    transition: transform 0.3s;
}

.category-item:hover { 
    transform: scale(1.05);
}

.cat-overlay {
    background: rgba(0, 0, 0, 0.6); 
    position: absolute;
    top: 0;
    width: 120%;
    height: 120%;
    backdrop-filter: blur(4px);
}

.category-content {
    color: #fff;
    font-weight: 700;
    font-size: 36px; 
    text-transform: uppercase;
    z-index: 1;
}


.alternative-section a {
    display: block;
    height: 240px;
    padding-top: 140px;
    font-size: 1.2em;
    transition: transform 0.3s;
}

.alternative-section a:hover {
    transform: scale(1.05);
}

.alt-inner {
    position: relative;
}

.alt-content {
    width: 60%; 
    font-weight: 700;
    font-size: 36px; 
    text-transform: uppercase; 
    border-bottom: 2px solid #fff;
    margin: 10px auto 0; 
}

.alt-description {
    color: #ddd;
}

.alt-item {
    position: relative; 
    background-size: cover;
    background-position: center;
    text-align: center;
    text-decoration: none;
    color: #fff;
    overflow: hidden;
}

.alt-item:hover {
    transform: scale(1.05);
}

@media (max-width: 1024px) {

    .alternative-section a {
        font-size: 1em;
    }

    .alt-content {
        width: 100%;
        font-size: 32px;
        border-bottom: 0;
    }

    .alt-content::after {
        content: ""; 
        display: block; 
        width: 80%; 
        height: 2px; 
        background-color: #fff;
        margin: 10px auto 0;
    }
    
    .alt-description {
        font-size: 1em;
        color: #ddd;
        padding: 5px;
        margin-top: 10px;
    }

}

@media (max-width: 767.98px) {

    .alternative-section {
        display: none;
    }

    .categories-section {
        width: 100%;
    }

    .mobile-item {
        position: relative; 
        background-size: cover;
        background-position: center;
        padding: 20px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        overflow: hidden;
        transition: transform 0.3s;
    }

}