.mobile-item {
    display: none;
}

.categories-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto; /* Center the container within its parent */
}

.categories-section, .alternative-section {
    width: 48%;
}

.categories-section h2, .alternative-section h2 {
    margin: 0 0 20px;
    font-weight: 700;
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase; /* Optional: transform text to uppercase */
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}

.category-item {
    position: relative; /* To position the overlay correctly */
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 10px;
    height: 80px; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    transition: transform 0.3s;
}

.category-item:hover { 
    transform: scale(1.05);
}

.cat-overlay {
    background: rgba(0, 0, 0, 0.6); /* Dark overlay */
    position: absolute;
    top: 0;
    width: 120%;
    height: 120%;
    backdrop-filter: blur(4px); /* Add blur effect */
}

.category-content {
    color: #fff;
    font-weight: 700;
    font-size: 36px; /* Adjust size as needed */
    text-transform: uppercase; /* Optional: transform text to uppercase */
    z-index: 1;
}


.alternative-section a {
    display: block;
    height: 240px;
    padding-top: 140px;
    font-size: 1.2em;
    transition: transform 0.3s;
}

.alternative-section a:hover {
    transform: scale(1.05);
}

.alt-inner {
    position: relative;
}

.alt-content {
    width: 60%; /* Adjust the width as needed */
    font-weight: 700;
    font-size: 36px; /* Adjust size as needed */
    text-transform: uppercase; /* Optional: transform text to uppercase */
    border-bottom: 2px solid #fff;
    margin: 10px auto 0; /* Center the divider horizontally and add top margin */
}

.alt-description {
    color: #ddd;
}

.alt-item {
    position: relative; /* To position the overlay correctly */
    background-size: cover;
    background-position: center;
    text-align: center;
    text-decoration: none;
    color: #fff;
    overflow: hidden;
}

.alt-item:hover {
    transform: scale(1.05);
}

@media (max-width: 1024px) {

    .alternative-section a {
        font-size: 1em;
    }

    .alt-content {
        width: 100%; /* Adjust the width as needed */
        font-size: 32px; /* Adjust size as needed */
        border-bottom: 0;
    }

    .alt-content::after {
        content: ""; /* Required for pseudo-elements */
        display: block; /* Makes it a block-level element */
        width: 80%; /* Adjust width as needed */
        height: 2px; /* Height of the border */
        background-color: #fff; /* Border color */
        margin: 10px auto 0; /* Center it under the text */
    }
    
    .alt-description {
        font-size: 1em;
        color: #ddd;
        padding: 5px;
        margin-top: 10px; /* Optional: add space above the description */
    }

}

@media (max-width: 767.98px) {

    .alternative-section {
        display: none;
    }

    .categories-section {
        width: 100%;
    }

    .mobile-item {
        position: relative; /* To position the overlay correctly */
        background-size: cover;
        background-position: center;
        padding: 20px;
        height: 80px; /* Adjust the height as needed */
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        overflow: hidden;
        transition: transform 0.3s;
    }

}