.unluckytech-slideshow-container {
    position: relative;
    height: 40vh;
}

.unluckytech-slide {
    display: none;
    height: 100%;
}

.unluckytech-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.unluckytech-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    z-index: 0;
}

.unluckytech-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    z-index: 0;
}

.unluckytech-dots-container {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 0;
}

.unluckytech-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.unluckytech-dot.active, .unluckytech-dot:hover {
    background-color: #717171;
}

@media (max-width: 1024px) {

    .unluckytech-slideshow-container {
        max-height: 400px;
    }
}

@media (max-width: 768px) {

    .unluckytech-title {
        font-size: 2em;
    }

    .unluckytech-slideshow-container {
        max-height: 350px;
    }

}