/* Services Page Styles */

.services-content {
    padding: 20px;
    background: #ffffff;
}

.service-card {
    text-decoration: none;
    flex: 1;
    min-width: 300px;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.service-card p {
    font-size: 1.2em;
    line-height: 1.5;
}

.service-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.resources-section {
    background: #f9f9f9;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resources-text {
    width: 60%; 
    font-size: 1.2em;
}

.resources-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}

.resources-buttons .button {
    text-align: center;
    transition: background-color 0.3s;
}

.resources-buttons .button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.service-icon {
    font-size: 3em;
    color: #3a3b40;
}

.service-title, .resource-title h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.summary-section {
    background: #fff;
    padding: 20px 20px 0 20px;

}

.summary-container {
    background: #f9f9f9;
    padding: 20px;
    display: flex;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

.summary-left {
    flex: 1;
    padding-right: 20px;
}

.summary-title {
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
}

.summary-right {
    flex: 1.2;
}

.summary-description {
    font-size: 1.1em;
}

@media (max-width: 1024px) {

    .services-content {
        padding: 15px;
    }

    .service-card h3, .resource-title h3 {
        font-size: 1.5em;
    }

    .service-card p {
        font-size: 1em;
    }

    .resources-section {
        text-align: center;
        flex-direction: column;
        gap: 15px;
    }

    .resources-text {
        width: 100%;
    }

    .resources-buttons {
        width: 100%; 
    }

    .resources-buttons .button {
        padding: 10px 15px;
        font-size: 0.95em;
    }

    .service-card {
        padding: 15px;
        width: 200px;
    }

    .service-icon {
        font-size: 2.5em;
    }

    .service-title {
        font-size: 1.3em;
    }

    .service-description {
        font-size: 0.85em;
    }

    .summary-section {
        padding: 10px;
    }

    .summary-left, .summary-right {
        flex: 1;
        padding-right: 0;
    }

    .summary-title {
        font-size: 28px;
    }

    .summary-description {
        font-size: 1em;
    }
}


/* Media Queries */
@media (max-width: 768px) {

    .service-card {
        flex: none;
        width: 90%;
        margin: 0 auto; 
    }

    .summary-container {
        flex-direction: column;
        gap: 10px;
    }

}
