/* Single Post Styling */

.single-post-container {
    display: flex;
    max-width: 1200px;
    padding: 80px 20px 0 20px;
    gap: 20px; 
    margin: 0 auto;
}


.main-post-content {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column; 
    box-sizing: border-box; 
}

.main-discussion {
    margin-top: auto; 
}

.single-post-banner {
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 8px 8px 0 0;
    margin-bottom: 20px;
}

.single-post-box {
    position: sticky;
    top: 80px;
}

.wp-block-post-title {
    font-size: 2em;
    color: #000; 
    text-align: center; 
    padding: 0 20px;
    margin: 5px 0 20px 0; 
}

.main-single-post-date,
.date-top-divider,
.date-bottom-divider {
    display: none;
}

.single-post-content {
    padding: 0 20px 20px 20px; 
}

.single-post-link {
    text-decoration: none; 
}

.user-box {
    background: #f4f4f4;
    border-radius: 8px;
    width: 344px;
    height: 251px; 
    margin: 10px 0; 
    box-sizing: border-box; 
}

.user-box-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

.user-box img {
    height: 100px; 
    margin-bottom: 10px;
}

.user-name {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
}

.user-box-divider {
    width: 80%;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
}

.user-box-social a {
    color: #000;
    font-size: 1.5em;
    margin: 0 10px;
}

.user-box-social a:hover {
    color: #f0a500; 
    transition: color 0.3s;
}

.latest-posts {
    background: #f4f4f4;
    border-radius: 8px;
    padding: 20px;
    margin-right: 80px;
}

.latest-posts-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.latest-posts-container {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.latest-posts-top-divider,
.latest-posts-bottom-divider {
    width: 30%;
    height: 2px;
    background: #444;
    margin-left: auto; 
    margin-right: auto; 
}

.latest-posts-top-divider {
    margin-top: 0; 
    margin-bottom: -8px; 
}

.latest-posts-bottom-divider {
    margin-top: -15px; 
    margin-bottom: 5px; 
}

.single-post-card {
    display: flex;
    gap: 20px; 
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.single-post-card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}


.single-post-image img {
    width: 100px; 
    height: 100px; 
    border-radius: 8px;
    object-fit: cover;
}

.latest-post-content {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.single-post-date {
    font-size: 0.9em;
    color: #666;
}

.single-post-title h3 {
    font-size: 1.2em;
    margin: 5px 0 0;
    overflow: hidden; 
    height: 3em; 
} 

.discussion-section {
    background-size: cover;
    background-position: center;
    padding: 50px 20px;
    border-radius: 0 0 8px 8px;
    margin-top: 20px;
    position: relative;
}

.discussion-overlay {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0 0 8px 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    backdrop-filter: blur(4px); 
}

.discussion-title {
    color: #fff;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase; 
    letter-spacing: 2px; 
}

.post-info-box {
    background: #f4f4f4;
    border-radius: 8px;
    padding: 20px;
    width: 344px; 
    margin: 10px 80px 0 0; 
    box-sizing: border-box; 
}

.post-info-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
}

.post-info-category,
.post-info-tags,
.post-info-updated {
    margin: 5px 0;
}

@media (max-width: 1024px) {

    .user-box,
    .latest-posts,
    .single-post-sidebar {
        display: none;
    }

    .main-single-post-date {
        display: flex;
        color: #666;
        margin-bottom: 20px;
    }

    .main-post-content {
        align-items: center;
    }

    .single-post-banner {
        width: 100%;
        height: 20vh;
    }

    .wp-block-post-title {
        font-size: 1.5em;
    }

    .main-discussion {
        width: 100%;
    }

}